<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Cancha de Pádel</title>
</head>
<body>
    <h1>Gestión de Cancha de Pádel</h1>
    <nav>
        <ul>
            <li><a href="{% url 'registro' %}">Registro de Usuario</a></li>
            <li><a href="{% url 'crear_reserva' %}">Crear Reserva</a></li>
            <li><a href="{% url 'gestionar_bebidas' %}">Gestionar Bebidas</a></li>
            <li><a href="{% url 'gestionar_stock' %}">Gestionar Stock</a></li>
            <li><a href="{% url 'caja_diaria' %}">Caja Diaria</a></li>
            <li><a href="{% url 'reporte_mensual' %}">Reporte Mensual</a></li>
            <li><a href="{% url 'listar_usuarios' %}">Listar Usuarios</a></li>
            <li><a href="{% url 'cancha:gestionar_reservas' %}">Gestionar Reservas</a></li>
        </ul>
    </nav>
    

    <div>
        <h2>Bienvenido al panel de gestión de la cancha</h2>
        <p>Seleccione una de las opciones del menú para empezar a administrar las funciones.</p>
    </div>

</body>
</html>
